<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="basePath" value="D:\SP_Generator" />
		<add key="ComponentDirectories" value="SP,Models,DAOs" />
	</appSettings>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=.;Initial Catalog=CoownershipDB;User ID=adminVico;Password=SQLbigthorDEV;Connect Timeout=60000;" />
	</connectionStrings>
</configuration>